* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 1000px;
}

#current-turn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-container .chess-board {
  border: 5px solid black;
  width: 35vw;
  position: relative;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.662);
  border-radius: 5px 5px;
}

.game-container .chess-board .board-image {
  width: 100%;
  display: block;
}

.game-container .chess-board .pieces-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.game-container .chess-board .pieces-field .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 10%;
}

.game-container .chess-board .pieces-field .row .square {
  width: 11.1112%;
  padding: 2px;
}

.game-container .chess-board .pieces-field .row .square .piece {
  width: 100%;
}

.dragging {
  position: absolute;
  width: 11.1112%;
  z-index: 100;
}

.can-move-to {
  box-shadow: inset 0 0 3px 3px rgba(81, 255, 0, 0.566);
}

.highlighted {
  box-shadow: inset 0 0 3px 3px rgba(255, 255, 0, 0.571);
}